.header, .footer {
	margin: 0px auto;
	background-color: black !important;
	color: white !important;
	padding: 1px;
}

.form-control {
	display: inline !important; margin : 5px;
	margin: 5px;
}

.main {
	overflow: hidden;
	padding-left: 50px;
	margin-top: 50px;
	min-height: 200px;
	background-color: #e2e2e2;
}

.leftPane, .rightPane {
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	float: left;
}

.leftPane {
	background-color: #f1f1f1;
	width: 160px;
	height: 100%;
	min-height: 400px;
}

.rightPane {
	padding-left: 10px;
	height: 100%;
	min-height: 400px;
}